넓이를 구하는 프로그램

In [7]:
def get_radius(prompt):
  r = int(input(prompt))
  return r


def get_circle_area(radius):
  return 3.14 * radius * radius

r = get_radius('넓이를 구하고자 하는 원의 반지름은? ')
area = get_circle_area(r)

print(f'반지름인 {r}인 원의 넓이 = 3.14 x {r} x {r} = {area} ')

넓이를 구하고자 하는 원의 반지름은?4
반지름인 4인 원의 넓이 = 3.14 x 4 x 4 = 50.24

화씨, 섭씨 온도 변환

In [14]:
def fahrenheit_to_celsius(F):
  C = 5/9*(F-32)
  return C

def get_real(prompt):
  a = int(input(prompt))
  return a

F_temp = get_real('변환하고자 하는 화씨온도? ')
C_temp = fahrenheit_to_celsius(F_temp)

print(f'화씨 {F_temp} 도는 섭씨 {C_temp} 도')

변환하고자 하는 화씨온도? 100
화씨 100 도는 섭씨 37.77777777777778 도

초를 입력 받아 시-분-초로 변환

In [16]:
def convert_time(sec):
  h = sec //3600
  s = sec %3600
  m = s//60
  s = s%60

  print(sec, '초는', h, '시간', m, '분', s, '초이다')

def get_integer(prompt):
  a = int(input(prompt))
  return a

sec = get_integer('변환하고자 하는 시간(초)? ')

convert_time(sec)

변환하고자 하는 시간(초)? 3700
3700 초는 1 시간 1 분 40 초이다

n비트를 10진수와 2진수로 표현

In [18]:
def set_all_bits(n):
  return(1<<n) - 1

def get_integer(prompt):
  a = int(input(prompt))
  return a

n = get_integer('설정할 비트 수는? ')
bit = set_all_bits(n)
print(f'{n}비트를 모두 1로 설정한 수는 {bit} ( {bin(bit)} )이다')

설정할 비트 수는? 8
8비트를 모두 1로 설정한 수는 255 ( 0b11111111 )이다

동전 교환

In [19]:
def exchange(money):
  print(f'잔돈 : {money}원')
  n500 = money // 500
  money %=500

  n100 = money //100
  money %= 100

  n50 = money // 50
  money %= 50

  n10 = money // 10

  print(f'500원의 동전 개수 : {n500}, 100원의 동전 개수 : {n100}, 50원의 동전 개수 : {n50}, 10원의 동전 개수 : {n10}')

money = int(input('동전으로 교환하고자 하는 금액은? '))
exchange(money)

동전으로 교환하고자 하는 금액은? 3520
잔돈 : 3520원
500원의 동전 개수 : 7, 100원의 동전 개수 : 0, 50원의 동전 개수 : 0, 10원의 동전 개수 : 2

In [ ]:
환율

In [20]:
#전역 변수
exchange_rate = 0

def set_rate(won):
  global exchange_rate
  exchange_rate = won

def get_rate():
  return exchange_rate

def to_dollar(won):
  return won / exchange_rate

def to_won(dollar):
  return dollar * exchange_rate

def main():
  print('### 환율 변환 모듈 테스트 ###')
  set_rate(1010)
  print('오늘의 환율', get_rate())
  print('2020원 = ', to_dollar(2020),'달러')
  print('2달러 = ', to_won(2),'원')

if __name__ == "__main__":
  main()

### 환율 변환 모듈 테스트 ###
오늘의 환율 1010
2020원 =  2.0 달러
2달러 =  2020 원

사용자 입력 환율

In [22]:
exchange_rate = 0

def set_rate(won):
  global exchange_rate
  exchange_rate = won

def get_rate():
  return exchange_rate

def to_dollar(won):
  return won / exchange_rate

def to_won(dollar):
  return dollar * exchange_rate


import exchange_currency as ec

def main():
    rate = int(input("$1에 대한 오늘의 환율은? "))
    ec.set_rate(rate)

    dollar = int(input("원화를 변환할 달러화 액수는? "))
    print(f"{dollar} 달러는 {ec.to_won(dollar)} 원입니다")

    won = int(input("달러화로 변환할 원화 액수는? "))
    print(f"{won} 원은 {ec.to_dollar(won)} 달러입니다")

if __name__ == "__main__":
    main()

ModuleNotFoundError: No module named 'exchange_currency'

할인 전 가격을 계산

In [1]:
def get_fixed_price(rate, discount_price):
    price = discount_price/(1-rate/100)
    return (price)


discount = int(input('할인율은?'))
A = int(input('A상품의 할인된 가격은?'))
B = int(input('B상품의 할인된 가격은?'))

A_price = int(get_fixed_price(discount, A))
B_price = int(get_fixed_price(discount, B))

print('A상품의 정가는',A_price,'원')
print('B상품의 정가는',B_price,'원')

할인율은?20
A상품의 할인된 가격은?8000
B상품의 할인된 가격은?20000
A상품의 정가는 10000 원
B상품의 정가는 25000 원

이름, 학년 입력 출력

In [ ]:
def introduce(name, grade):
  first_name = name[1:]
  return f'{first_name}은 내년에 {grade + 1}학년입니다'

a = input('이름? ')
b = int(input('학년? '))

c = introduce(a,b)

print(c)

반복

In [2]:
def rep_char(c,n):
  print(c*n)

rep_char('-',10)
rep_char('*',5)

----------
*****

In [3]:
def rep_char(c,n):
  print(c*n)

def draw_lin_string(a):
  stri = len(a)
  rep_char('-', stri*2+4)
  print(f'   {a}   ')
  rep_char('-', stri*2+4)

draw_lin_string('안녕하세요')
draw_lin_string('안녕')

--------------
   안녕하세요
--------------
--------
   안녕
--------

환영메시지

In [6]:
def rep_char(c,n):
  print(c*n)

def draw_lin_string(msg1, msg2):
  msg1 = 'Hello' + ' ' + msg1
  nstr = len(msg1) if (len(msg1)>len(msg2)) else len(msg2)

  print(f'Input his/her name : {msg1}')

  rep_char('-',nstr)
  print(msg1)
  print(msg2)
  rep_char('-',nstr)

msg1 = input('Input his/her name: ')
msg2 = 'Welcome to Seoul'

draw_lin_string(msg1, msg2)

Input his/her name: steve yoo
Input his/her name : Hello steve yoo
----------------
Hello steve yoo
Welcome to Seoul
----------------

윤년

In [ ]:
year = int(input('연도를 입력해주세요'))

print(f'윤년 여부를 확인할 연도는? {year}')

if year % 4 == 0 and year % 100 !=0:
  print(f'{year}년은 윤년입니다')
elif year % 400 == 0:
  print(f'{year}년은 윤년입니다')
else:
  print(f'{year}년은 평년입니다')


def years(year):
  if year % 4 == 0 and year % 100 != 0:
    return True
  elif year % 400 == 0:
    return True
  else:
    return False

if years(year):
  print('윤년입니다')
else:
  print('평년입니다')

연도와 월, 끝 날 계산

In [19]:
year = int(input('알고싶은 년도를 입력해주세요: '))
month = int(input('알고싶은 월을 입력해주세요: '))

print(f'연도? {year}')
print(f'월? {month}')

def is_leap_year(year):
  if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    return True
  else:
    return False


def month_days(year,month):
  if month == 4 or month == 6 or month == 9 or month == 11 :
    return 30
  elif month == 2:
    if is_leap_year(year):
      return 29
    else:
      return 28
  else:
    return 31

ndays = month_days(year, month)
print(f'{year}년 {month}월은 {ndays}일까지 있습니다')

알고싶은 년도를 입력해주세요: 1999
알고싶은 월을 입력해주세요: 2
연도? 1999
월? 2
1999년 2월은 28일까지 있습니다

성인 여부

In [23]:
def input_age(prompt):
  n = int(input(prompt))
  if 0 <= n <= 120:
    return n
  else:
    return -1

def is_adult(age):
  if age >= 19:
    return True
  else:
    return False


age = input_age('나이? ')

if age >= 0 :
  if is_adult(age):
    print('당신은 성인입니다')
  else:
    print('당신은 성인이 아닙니다')
else:
  print('오류 : 유효하지 않은 나이가 입력되어 판별할 수 없습니다')

나이? 18
당신은 성인이 아닙니다

문자 종류 판별

In [27]:
def find_type(ch):
  if ch == ' ':
    return '공백 문자를 입력했습니다'
  elif 'a' <= ch <= 'z' or 'A' <= ch <= 'Z':
    return '알파벳 문자를 입력했습니다'
  elif '0' <= ch <= '9':
    return '숫자 문자를 입력했습니다'
  else:
    return '기타 문자를 입력했습니다'

a = input('한 문자 입력 ')

atype = find_type(a)
print(atype)

한 문자 입력 *
기타 문자를 입력했습니다

자릿수 읽어주기

In [28]:
#사용자 함수 정의

def read_single_digit(n):
    if n == 0:
        return "영"
    elif n == 1:
        return "일"
    elif n == 2:
        return "이"
    elif n == 3:
        return "삼"
    elif n == 4:
        return "사"
    elif n == 5:
        return "오"
    elif n == 6:
        return "육"
    elif n == 7:
        return "칠"
    elif n == 8:
        return "팔"
    elif n == 9:
        return "구"

def read_number(num):
    n100 = num//100
    n10 = (num%100)//10
    n1 = num%10
    return n100, n10, n1


#주 프로그램부
num = int(input('세 자리 정수 입력 : '))
n100, n10, n1 = read_number(num)
print(f'{read_single_digit(n100)} {read_single_digit(n10)} {read_single_digit(n1)}')

세 자리 정수 입력 : 100
일 영 영

유효한 나이가 될때까지 다시 입력

In [33]:
def input_age():
  while True:
    n = int(input('나이: '))
    if 0 <= n <= 120:
      return n
    else:
      print('유효하지 않은 나이가 입력되었습니다')

def adult(age):
  if age >= 19:
    return True
  else:
    return False

age = input_age()


if adult(age):
    print('당신은 성인입니다')
else:
    print('당신은 성인이 아닙니다')

나이: -10
유효하지 않은 나이가 입력되었습니다
나이: 101010
유효하지 않은 나이가 입력되었습니다
나이: -300
유효하지 않은 나이가 입력되었습니다
나이: 90
당신은 성인입니다

윤년 여부를 반복적으로 판별

In [36]:
def is_leap_year(year):
  if (year % 4 == 0 and year % 100 != 0) | (year % 400 == 0):
    return True
  else:
    return False

while True:
  year = int(input('윤년 여부를 확인할 연도는? '))
  if is_leap_year(year):
    print(f'{year}년은 윤년입니다')
  else:
    print(f'{year}년은 평년입니다')

  again = input('다른 연도로 확인하겠습니까?')

  if again == 'Y' or again == 'y':
    print()
  else:
    break

윤년 여부를 확인할 연도는? 2000
2000년은 윤년입니다
다른 연도로 확인하겠습니까?Y

윤년 여부를 확인할 연도는? 1999
1999년은 평년입니다
다른 연도로 확인하겠습니까?Y

KeyboardInterrupt: Interrupted by user

정수 나열

In [38]:
a = int(input('높이? '))

for i in range(1, a+1):
  for j in range(1,i+1):
    print(j, end='')
  print()

높이? 5
1
12
123
1234
12345

In [40]:
a = int(input('높이? '))
for i in range(1, a+1):
  print(' '* (a-i),'*'*i)

높이? 5
*
**
***
****
*****

In [42]:
a = int(input('높이? '))

for i in range(a-1,0,-1):
  for j in range(1,i+1):
    print(j, end='')
  print()

높이? 5
1234
123
12
1

구구단

In [ ]:
def display_multiplication_table(n):
    for i in range(1,10):
        for j in range(n, n+4):
            print(f' {j} x {i} = {j*i:2d}', end='\t')
        print()
    print()

display_multiplication_table(2)
display_multiplication_table(6)